#loginFormPage {
    display: flex;
    height: 100%;
    width: 100%;
}

#loginFormImage {
    height: 100%vh;
    width: 50%vh;
}

#moonImage {
    height: 100%;
    width: 100%;
}

.formContainer {
    padding-left: 50px;
}

#loginForm {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#loginHeader {
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.loginLabels {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.labelText {
    padding-bottom: 3px;
}

.loginInputs {
    padding: 0 12px;
    width: 394px;
    height: 34px;
    margin-bottom: 10px;
}

#loginButton {
    height: 44px;
    width: 132px;
    color: white;
    background-color: black;
    border-radius: 25px;
    font-weight: bolder;
    font-size: 12px;
    margin-top: 15px;
}

#signUpText {
    padding-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#signUpRedirect {
    text-decoration: underline;
    font-weight: bolder;
    cursor: pointer;
}
